<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @donation.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @donation.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donation.email %>
</p>

<p>
  <strong>Donation item:</strong>
  <%= @donation.donation_item %>
</p>

<p>
  <strong>Donation type:</strong>
  <%= @donation.donation_type %>
</p>

<p>
  <strong>Donation quantity:</strong>
  <%= @donation.donation_quantity %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
